{% extends "notes/base.html" %}
{% block content %}
<h1>O projekcie</h1>
<p style="text-align:justify">
	<form>
		<label for="lname">Jak jest twoje dzisiejsze samopoczucie?</label><br>
		<input type="radio" id="dobre" name="fav_language" value="dobre">
		<label for="dobre">dobre</label>
		<input type="radio" id="złe" name="fav_language" value="złe">
		<label for="złe">złe</label>
		<input type="radio" id="średnie" name="fav_language" value="średnie">
		<label for="średnie">średnie</label><br>
		<label for="fname">Wpisz swoją dzisiejszą wagę:</label><br>
		<input type="text" id="fname" name="fname"><br>
		<label for="fname">Jak się dzisiaj czujesz po zażyciu leków:</label><br>
		<input type="text" id="fname" name="fname"><br>
		<label for="fname">Czy masz jakieś istotne pytania do Twojego lekarza?</label><br>
		<input type="text" id="fname" name="fname"><br>
		<label for="fname">Jeżeli masz dodatkowe uwagi podaj je poniżej:</label><br>
		<input type="text" id="fname" name="fname"><br>
	</form>
</p>
{% endblock content %}
