{% extends "notes/base.html" %}
{% block content %}
  <article class="media content-section" style="margin-top: 70px;">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'note-update' object.id %}">Zaktualizuj</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'note-delete' object.id %}">Usuń</a>
          </div>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <p class="article-content">Zrealizowane recepty: {{ object.recepty }}</p>
      <p class="article-content">Przyjmowane lekarstwa: {{ object.lekarstwa }}</p>
      <p class="article-content">Ostatnie badania: {{ object.badania }}</p>
    </div>
  </article>
{% endblock content %}
